{% extends "base.html" %}
{% block title %}Užsakymas{% endblock %}
{% block content %}
<img class="rounded-circle account-img" src="{{ uzsakymas.vartotojas.profilis.nuotrauka.url }}">
<h3>Detali užsakymo informacija:</h3>
<ul>
    <li>Automobilis: <b>{{ uzsakymas.automobilis }}</b></li>
    <li>Data: <b>{{ uzsakymas.data }}</b></li>
    <li>Terminas: <b>{{ uzsakymas.terminas }}</b></li>
    <li>Vartotojas: <b>{{ uzsakymas.vartotojas }}</b></li>
    <li>Būsena: <b>{{ uzsakymas.get_status_display }}</b></li>
</ul>
 {% if uzsakymas.vartotojas == user %}
<div>
     <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'uzsakymas_redaguoti' uzsakymas.id %}">Redaguoti</a>
     <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'uzsakymas_istrinti' uzsakymas.id %}">Ištrinti</a>

</div>
{% endif %}

<hr>
<h5>Užsakytos paslaugos:</h5>
<table class="table table-bordered">
<thead>
<tr>
    <th scope="col">Paslauga</th>
    <th scope="col">Kaina</th>
    <th scope="col">Kiekis</th>
    <th scope="col">Suma</th>
    <td scope="col"></td>
</tr>
</thead>
    <tbody>
    {% for eilute in uzsakymas.eilutes.all %}
    <tr>
        <th scope="row">{{ eilute.paslauga.pavadinimas }}</th>
        <td scope="row">{{ eilute.paslauga.kaina }}</td>
        <td scope="row">{{ eilute.kiekis }}</td>
        <td scope="row">{{ eilute.kaina }}</td>
        <td scope="row">
        {% if uzsakymas.vartotojas == user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'uzsakymas_redaguotieilute' uzsakymas.id eilute.id %}">Redaguoti</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'uzsakymas_istrintieilute' uzsakymas.id eilute.id %}">Ištrinti</a>

        </div>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><b>BENDRA:</b></td>
        <td>{{ uzsakymas.suma }}</td>
    </tr>
    </tbody>
</table>
{% if uzsakymas.vartotojas == user %}
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'uzsakymas_pridetieilute' uzsakymas.id %}">Prideti eilute</a>
</div>
{% endif %}
<br/>
<h4>Palikite komentarą :</h4>
{% if user.is_authenticated %}
<div class="fieldWrapper">
    <hr><br/>
    <h4>Palikite atsiliepimą:</h4>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.tekstas }}</br>
      <input type="submit" value="Išsaugoti">
    </form>
  </div>

{% endif %}

{% if uzsakymas.komentarai.all %}
{% for komentaras in uzsakymas.komentarai.all %}
<strong>{{ komentaras.vartotojas }}</strong>, <em>{{ komentaras.date_created }}</em>
<p>{{ komentaras.tekstas }}</p>

{% endfor %}

{% else %}
    <p>Užsakymas neturi komentarų</p>


{% endif %}
{% endblock %}
